:root {
    --color-black: #000000;
    --color-red: #e53939;
    --color-white: #ffffff;

    --font: "Roboto", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: var(--font);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--color-red);
    z-index: 1000;
}

.navbar__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}

.fa-solid {
    font-weight: 400;
}

.navbar__links {
    color: var(--color-white);
    font-size: 24px;
    text-decoration: none;
}

.presentation {
    padding: 5rem 24rem;
}

.presentation__text-ola {
    font-size: 20px;
    padding: 1rem 0;
}

.presentation__title {
    font-size: 54px;
    color: var(--color-red);
}

.presentation__subtitle {
    margin-top: 1rem;
    font-size: 26px;
    
}

.presentation__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    margin: 0 16rem;
}

.presentation__text {
    font-size: 20px;
    padding: 0.4rem 0;
}

.marked-text {
    color: var(--color-red);
}

.presentation__text::before {
    content: '•';
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--color-red);
}

.apresentation__imagem {
    width: 24rem;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-red);
}

.about-me {
    margin-top: 16rem;
}

.about-me__content {
    margin: 0 12rem;
    border: solid 1px var(--color-red);
    border-radius: 16px;
    padding: 2.5rem;
}

.about-me__title {
    color: var(--color-red);
    font-size: 30px;
    margin-bottom: 2rem;
    text-align: center;
}

.about-me__text {
    font-size: 20px;
    margin-bottom: 1rem;
}

.technologies {
    margin: 12rem;
    border: solid 1px var(--color-red);
    border-radius: 16px;
}

.technologies__content {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 5rem 0;
}

.technologies__title {
    color: var(--color-red);
    font-size: 30px;
    margin: 2rem 0;
    text-align: center;
}

.technologies__images {
    width: 15%;
}

.baseboard {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    background-color: var(--color-red);
    padding: 1rem 0;
}

.baseboard__text {
    font-size: 16px;
    color: var(--color-black);
}